:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url(../src/assets/fondo.PNG);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  color: #1a1a1a;
}

h1 {
  font-size: 30px;
  line-height: 1.1;
  color: #1a1a1a;
  font-style: oblique;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  color: #1a1a1a;
  margin-bottom: 2.4em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.4em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: inherit;
  background-color: #76b39d;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #1a1a1a;
}
button:hover {
  background-color: #1a1a1a;
  border:#589e85 3px solid;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6em;
  max-width: 320px;
  margin: 0 auto;
}

label {
  font-size: 15px;
  font-weight: 500;
  flex-direction: column;
}

input {
  border: 2px solid #589e85;
  border-radius: 3px;
  padding: 2px;
  font-size: 12px;
  font-family: inherit;
  background-color: #ffffff;
  transition: border-color 0.25s;
  margin-left: 4px;
  color: #1a1a1a;
}

footer {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6em;
  margin-top: 2.4em;
}

footer p {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.anio {
  margin-top: -5ch;
}

img {
  width: 100%;
  height: auto;
} 

message {
  color: #1a1a1a;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 2.4em;
} 